<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teoria de Colas</title>

    <link href="{{ url_for('static',filename='style/stile.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content%}
    <form action="" class="form" method="post">
        <h2 class="form_title">Datos</h2>
        <p class="form_paragraph">Ingrese los datos necesarios para</p>

        <div class="form_container">
            <div class="form_group">
                <input type="text" name="lambda" id="lambda" class="form_input" placeholder=" " required pattern="^[0-9]\d*(\.\d+)?$">
                <label for="lambda" class="form_label">Tasa de llegada (𝛌)</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" name="mu" id="mu" class="form_input" placeholder=" " required pattern="^[0-9]\d*(\.\d+)?$">
                <label for="mu" class="form_label">Tasa de servicio (𝛍)</label>
                <span class="form_line"></span>
            </div>
            
            <div class="form_group">
                <input type="text" name="k" id="k" class="form_input" placeholder=" "  required pattern="^[1-9]\d*$">
                <label for="k" class="form_label">Núm. de servidores (k)</label>
                <span class="form_line"></span>
            </div>
            
            <div class="form_group">
                <input type="text" name="m" id="m" class="form_input" placeholder=" " pattern="^[1-9]\d*$">
                <label for="m" class="form_label">Población (M)</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" name="dl" id="dl" class="form_input" placeholder=" " pattern="^[0-9]\d*$">
                <label for="dl" class="form_label">No. de horas laborables</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" name="cs" id="cs" class="form_input" placeholder=" " pattern="^[0-9]\d*(\.\d+)?$$">
                <label for="cs" class="form_label">Costo del servidor (Cs)</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" name="cu" id="cu" class="form_input" placeholder=" " pattern="^[1-9]\d*$">
                <label for="cu" class="form_label">Costo de tiempo del cliente</label>
                <span class="form_line"></span>
            </div>

            <input type="submit" value="Calcular" class="form_submit">

        </div>
    </form>
    {% endblock %}
</body>
</html>